appdirs
asgiref
black
certifi
chardet
charset-normalizer
click
cycler
Cython
dj-database-url
Django
django-crispy-forms
django-heroku
django-pandas
dlib==19.22.1
face-recognition
face-recognition-models
ffmpeg
gTTS
gunicorn
idna
importlib-metadata
imutils
joblib
kiwisolver
matplotlib
mypy-extensions
numpy
opencv-python==4.5.1.48
packaging
pandas
pathspec
Pillow

psycopg2

pyparsing
python-dateutil
pytz
regex
requests
scikit-learn
scipy
seaborn

six
sqlparse
threadpoolctl
toml
typed-ast
typing_extensions
tzdata
urllib3
whitenoise
zipp
